.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 12em;
	height: 10em;
	overflow: hidden;
}

.Player-move.is-jumping {
	animation: 0.1s jump-animation step-end infinite;
	-webkit-animation: 0.5s jump-animation step-end infinite;
	-moz-animation: 0.5s jump-animation step-end infinite;
}
@keyframes jump-animation {
	0% {transform: translate3d(0, 0, 0);}
	25% {transform: translate3d(-7.813em, 0, 0);}
	50% {transform: translate3d(-16.563em, 0, 0);}
	75% {transform: translate3d(-23.126em, 0, 0);}
}
@-webkit-keyframes jump-animation {
	0% {-webkit-transform: translate3d(0, 0, 0);}
	25% {-webkit-transform: translate3d(-7.813em, 0, 0);}
	50% {-webkit-transform: translate3d(-16.563em, 0, 0);}
	75% {-webkit-transform: translate3d(-23.126em, 0, 0);}
}
@-moz-keyframes jump-animation {
	0% {-moz-transform: translate3d(0, 0, 0);}
	25% {-moz-transform: translate3d(-7.813em, 0, 0);}
	50% {-moz-transform: translate3d(-16.563em, 0, 0);}
	75% {-moz-transform: translate3d(-23.126em, 0, 0);}
}

.Player-sprite {
	width: 8em;
	height: 9.5em;
}

.Player-move {
	background: url("/images/sprites.png");
	width: 30.875em;
	height: 5.875em;
	transition-timing-function: step-end;
	-webkit-transition-timing-function: step-end;
	-moz-transition-timing-function: step-end;
}

.Player-sprite.rotUp {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

.Player-sprite.rotDown {
	transform: rotate(90deg);
	transition: 1s;
	-webkit-transform: rotate(90deg);
	-webkit-transition: 1s;
	-moz-transform: rotate(90deg);
	-moz-transition: 1s;
}

.Cloud2.stop, .Cloud5.stop, .Cloud4.stop, .Cloud3.stop, .Cloud.stop, .Cloud1.stop, .Ground.stop {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	animation: paused;
}

.Scoreboard {
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 40em;
	margin-left: -20em;
	box-sizing: border-box;
	background: rgb(48, 117, 139);
	text-align: center;
	opacity: 0.5;
	border-radius: 12px;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
	-moz-transform: translate(0, -40em);
	-moz-transition: -moz-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
	-moz-transform: none;
}

.Scoreboard-restart {
	margin-top: 20em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

.Score {
	position: absolute;
	left: 25%;
	top: 5em;
	height: 15em;
	width: 20em;
}

.Score-text {
	font-family: 'Comic Sans MS', serif;
	font-size: 2.4em;
	color: white;
}

.Score-result {
	position: absolute;
	left: 40%;
	top: 1em;
	font-family: 'Comic Sans MS', serif;
	font-size: 5em;
	color: white;
}

body {
	background: black;
	overflow: hidden;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.Cloud5 {
	position: relative;
	top: -3em;
	height: 5em;
	width: 6em;
	background: url("/images/cloud3.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 30s infinite;
	-moz-animation: cloudMoveLeft linear 30s infinite;
}

.Cloud4 {
	position: relative;
	top: -7em;
	height: 5em;
	width: 6em;
	background: url("/images/cloud3.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 26s infinite;
	-moz-animation: cloudMoveLeft linear 26s infinite;
}

.Cloud3 {
	position: relative;
	top: -5em;
	height: 5em;
	width: 6em;
	background: url("/images/cloud3.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 20s infinite;
	-moz-animation: cloudMoveLeft linear 20s infinite;
}

.Cloud {
	position: relative;
	top: 0em;
	height: 6em;
	width: 7.2em;
	background: url("/images/cloud.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 12s infinite;
	-moz-animation: cloudMoveLeft linear 12s infinite;
}

.Cloud1 {
	position: relative;
	top: -7em;
	height: 7em;
	width: 8.2em;
	background: url("/images/cloud1.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 18s infinite;
	-moz-animation: cloudMoveLeft linear 18s infinite;
}

.Cloud2 {
	position: relative;
	top: -5em;
	height: 8.5em;
	width: 9.8em;
	background: url("/images/cloud2.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: cloudMoveLeft linear 14s infinite;
	-moz-animation: cloudMoveLeft linear 14s infinite;
}
@-webkit-keyframes cloudMoveLeft {
	0% {right: -109em;}
	100% {right: 100em;}
}
@-moz-keyframes cloudMoveLeft {
	0% {right: -109em;}
	100% {right: 100em;}
}

.Ground {
	position: relative;
	top: 48.2em;
	height: 1.8em;
	width: 300em;
	background: url("/images/beamground1.png");
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-webkit-animation: groundMoveLeft linear 5s infinite; 
	-moz-animation: groundMoveLeft linear 5s infinite;
}
@-webkit-keyframes groundMoveLeft {
	0% {right: 0em;}
	100% {right: 100em;}
}
@-moz-keyframes groundMoveLeft {
	0% {right: 0em;}
	100% {right: 100em;}
}

.bottomPipe {
	position: relative;
	top: -46.5em;
	width: 4.4em;
	height: 25em;
	background: url("/images/beam.png");
}

.topPipe {
	position: relative;
	top: -56.5em;
	width: 4.4em;
	height: 31.75em;
	background: url("/images/beam.png");
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 102.4em;
	height: 57.6em;
	margin-left: -51.2em;
	margin-top: -28.8em;
	overflow: hidden;
	background: url("/images/backgroundCity.png");	
}​

.sound, .mute, .play {
	position: relative;
	top: -95em;
	width: 3em;
	height: 3em;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}